*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin
/.codegraph/
/.understand-anything/
/understand-anything-repo/
nul
jdk21/
.env
.npmrc
reasonix.toml
.gradle_home/
.idea/codeStyles/
.workbuddy/
