<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 自定义相册读取照片权限 -->
    <!-- Android 12 及以下 (API 24-32) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Android 13+ (API 33+) 细粒度媒体权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test_microTT">

        <!-- 允许 Android Studio Profiler 分析此进程（Debug only，Release 会自动忽略） -->
        <profileable android:shell="true" />
        <activity
            android:name=".views.MvcTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ImagePreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Test_microTT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.DraftListActivity"
            android:exported="false"
            android:theme="@style/Theme.Test_microTT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
